[Unit]
Description=Famine

[Service]
# Type=simple
# ExecStart=%h/famine/famine
# WorkingDirectory=%h
Type=oneshot
ExecStart=/usr/bin/printf "hello world\n"

[Install]
WantedBy=default.target
